@{
    ViewBag.Title = "Редактировать книгу";
}
@model CarShop.Models.Book


@using (Html.BeginForm("EditBook", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.BookId)
        <p>
            @Html.LabelFor(m => m.BookName, "Название книги")
            <br />
            @Html.EditorFor(m => m.BookName)
        </p>
        <p>
            @Html.LabelFor(m => m.Genre.GenreId, "Жанр")
            <br />
          @Html.DropDownList("GenreId", (IEnumerable<SelectListItem>)ViewBag.Genres, "Select ...")
        </p>

        <p>
            @Html.LabelFor(m => m.Price.PriceId, "Цена")
            <br />
            @Html.DropDownList("PriceId", (IEnumerable<SelectListItem>)ViewBag.Prices, "Select ...")
        </p>
        <p>
            @Html.LabelFor(m=>m.Description, "Описание книги")
            <br/>
            @Html.TextBoxFor(m=>m.Description)

        </p>
        <p><input type="submit" value="Отправить" /></p>

    </fieldset>



}